*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 1.72rem;
    margin-bottom: 1.5rem;
}
h2{
    font-size: 1.44rem;
    margin-bottom: 1.5rem;
}
h3{
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
h4{
    font-size: 18PX;
    font-weight: 900;
    letter-spacing: 2px;
}
h1,h2,h3,h4{
    line-height: 120%;
}
.button{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 40px;
    border-radius: 0.5rem;
    transition: all 0.2s ease-in;
}
.buttonPrimery{
    background-color: black;
    color: white;
}
.buttonPrimery:hover{
    background-color: rgb(65, 65, 65);
}
.buttonSecondary{
  border: 1px solid rgb(62, 62, 62);
  color: black;
}
.buttonSecondary:hover{
    background-color: black;
    color: white;
}
.buttonHolder{
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
p{
    font-size: 1rem;
    color: rgb(74, 74, 74);
    line-height: 150%;
    margin-bottom: 1.5rem;
}
#logo{
    font-family: 'Lora', serif;
    font-weight: 600;
    font-size: 1.2rem;
}
.container{
    width: 100%;
    height: 100%;
    max-width: 1320px;
    padding: 0 1rem;
    margin-left: auto;
    margin-right: auto;
}
section{
    padding-top: 4rem;
    padding-bottom: 4rem;
}
header{
    height: 4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid darkgray;
}
header .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#menuButton{
    background-color: white;
    border: none;
}
nav{
    display: none;
}
#navList{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1.5rem;
    list-style: none;
}
#navList a{
    text-decoration: none;
    color: rgb(100, 100, 100);
}
#navList a:hover{
    text-decoration: underline;
}
#sectionAbout{
    background-color: rgb(212, 212, 212);
}
.blogList{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.blog{
    padding: 1rem;
    border: 1px solid gray;
    border-radius: 0.5rem;
}
.blog img{
   width: 100%;
}
.blog p{
    font-size: 0.9rem;
}

@media only screen and (min-width: 576px) {
    .blogList {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
  }

  @media only screen and (min-width: 768px) {
    .blogList{
       grid-template-columns: 1fr 1fr 1fr;
    }

    #menuButton{
        display: none;
    }
    nav{
        display: block;
    }
  }

  @media only screen and (min-width: 992px) {
    .blogList{
        grid-template-columns: 1rf 1fr 1fr 1fr;
    }
  }

  @media only screen and (min-width: 1200px) {


    h1{
        font-size: 2.98rem;
    }
    h2{
        font-size: 2.48rem;
    }
    h3{
        font-size: 2.07rem;
    }
    h4{
        font-size: 1.7rem;
    }
    .blogList{
        grid-template-columns: 1rf 1fr 1fr 1fr;
    }
    
  }